.BoxContact {
  display: flex;
  width: 148px;
  height: 148px;
  border: 1px solid #8C92AC;
  box-sizing: border-box;
  border-radius: 10px;
  box-shadow: 0 0 10px 2px #eee;
  padding: 0;
}
.BoxContact  a:hover {
  background: linear-gradient(263.9deg, #0b685d 18.62%, #128c7e 88.62%);
  color: var(--bs-white);
  transition: all .5s ease-in-out;
}
.BoxContact > a {
  display: flex;
  align-items: center;
  color: var(--color-NavyBlue);
  border-radius: 10px;
  transition: all .5s ease-in-out;
}
.BoxContact > a div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 148px;
  height: 110px;
  align-items: center;
  padding: 10px 0;
}
.BoxContact a div h5 {
  font-weight: bold;
  font-size: 19px;
}
 
