@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap');

@font-face {
  font-family: "IRANSans-web";
  src: url("../static/fonts/IRANSans-Bold-web.eot");

  src: url("../static/fonts/IRANSans-Bold-web.eot?#iefix") format("eot"),
    /* IE6–8 */ url("../static/fonts/IRANSans-Bold-web.woff2") format("woff2"),
    /* Chrome36+, Opera24+*/ url("../static/fonts/IRANSans-Bold-web.woff")
      format("woff"),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
      url("../static/fonts/IRANSans-Bold-web.ttf") format("ttf");
  font-weight: bold;
}

@font-face {
  font-family: "IRANSans-web";
  src: url("../static/fonts/IRANSans-Medium-web.eot");

  src: url("../static/fonts/IRANSans-Medium-web.eot?#iefix") format("eot"),
    /* IE6–8 */ url("../static/fonts/IRANSans-Medium-web.woff2") format("woff2"),
    /* Chrome36+, Opera24+*/ url("../static/fonts/IRANSans-Medium-web.woff")
      format("woff"),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
      url("../static/fonts/IRANSans-Medium-web.ttf") format("ttf");
  font-weight: 500;
}

@font-face {
  font-family: "IRANSans-web";
  src: url("../static/fonts/IRANSans-UltraLight-web.eot");

  src: url("../static/fonts/IRANSans-UltraLight-web.eot?#iefix") format("eot"),
    /* IE6–8 */ url("../static/fonts/IRANSans-UltraLight-web.woff2")
      format("woff2"),
    /* Chrome36+, Opera24+*/ url("../static/fonts/IRANSans-UltraLight-web.woff")
      format("woff"),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
      url("../static/fonts/IRANSans-UltraLight-web.ttf") format("ttf");
  font-weight: 200;
}

@font-face {
  font-family: "IRANSans-web";
  src: url("../static/fonts/IRANSans-Light-web.eot");

  src: url("../static/fonts/IRANSans-Light-web.eot?#iefix") format("eot"),
    /* IE6–8 */ url("../static/fonts/IRANSans-Light-web.woff2") format("woff2"),
    /* Chrome36+, Opera24+*/ url("../static/fonts/IRANSans-Light-web.woff")
      format("woff"),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
      url("../static/fonts/IRANSans-Light-web.ttf") format("ttf");
  font-weight: 300;
}

@font-face {
  font-family: "IRANSans-web";
  src: url("../static/fonts/IRANSans-web.eot");

  src: url("../static/fonts/IRANSans-web.eot?#iefix") format("eot"),
    /* IE6–8 */ url("../static/fonts/IRANSans-web.woff2") format("woff2"),
    /* Chrome36+, Opera24+*/ url("../static/fonts/IRANSans-web.woff")
      format("woff"),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/ url("../static/fonts/IRANSans-web.ttf")
      format("ttf");
  font-weight: normal;
}
@import './colors.css';

html,
body {
  padding: 0;
  margin: 0;
  font-family: IRANSans-web !important;
  direction: rtl;
  background-color: #f1f1f1 !important;
  font-size: 82.5%;
}
[class^="Mui"],
[class^="Mui"] * {
  font-family: IRANSans-web !important;
}
[class*="Mui"],
[class*="Mui"] * {
  font-family: IRANSans-web !important;
}
body a {
  color: inherit;
  text-decoration: none !important;
}

* {
  box-sizing: border-box;
}

ul,
p {
  margin: 0 !important;
}
ul {
  padding: 0;
  margin: 0 !important;
}
li {
  list-style: none;
}
button {
  border: none;
}
.card_style {
  background: rgba(255, 255, 255, 0.4);
  box-shadow: 0px 8px 8px rgba(0, 0, 0px, 0.15);
  border-radius: 10px;
  margin-top: 64px;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}

.text_head {
  position: relative;
  font-weight: bold;
}
.underline_dec span {
  position: absolute;
  bottom: 9px;
  width: 80px;
  height: 3px;
  border-radius: 5px;
  background-color: var(--color-NavyBlue);
}

.underline_dec span:nth-child(2) {
  right: 90px;
  width: 20px;
}
.underline_dec span:nth-child(3) {
  right: 115px;
  width: 10px;
}
.underline_dec span:nth-child(4) {
  right: 130px;
  width: 10px;
}


label {
  font-family: "IRANSans-web" !important;
  font-size: 0.8rem !important;
}
section {
  position: relative;
}
.container_custom {
  padding-inline: clamp(8px, 6vw - 16px, 128px);
}

.btn_yellow_box {
  font-weight: bold;
  font-size: 13px;
  color: var(--bs-white);
  background: #ffad14;
  box-shadow: 0px 9px 19px rgba(255, 173, 20, 0.47);
  border-radius: 5px;
  padding: 0.5rem;
}

.swiper.best_vendor_swiper{
  height:180px;
}
.swiper{
  overflow-y: visible;
  width: 100%;
}

.rounded-lg{
  border-radius: 20px;
}
.text-break *{
  white-space: normal;
}
.MuiFab-sizeMedium{
  z-index: 101;
}

input::placeholder{
  font-size: 0.8rem;
}
.blur-loader{
  position:fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.blur-loader .blur {
  position: absolute;
  inset: 0;
  background-color: #fff1;
  z-index: 101;
  -webkit-f: -webkit-fill-available;
  backdrop-filter: blur(3px);
}
.blur-loader .blur + *{
    z-index: 102;
}
/* ----------------------------------------------
 * Generated by Animista on 2022-5-16 21:11:8
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation wobble-hor-bottom
 * ----------------------------------------
 */
 @-webkit-keyframes wobble-hor-bottom {
  0%,
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
  }
  15% {
    -webkit-transform: translateX(-30px) rotate(-6deg);
            transform: translateX(-30px) rotate(-6deg);
  }
  30% {
    -webkit-transform: translateX(15px) rotate(6deg);
            transform: translateX(15px) rotate(6deg);
  }
  45% {
    -webkit-transform: translateX(-15px) rotate(-3.6deg);
            transform: translateX(-15px) rotate(-3.6deg);
  }
  60% {
    -webkit-transform: translateX(9px) rotate(2.4deg);
            transform: translateX(9px) rotate(2.4deg);
  }
  75% {
    -webkit-transform: translateX(-6px) rotate(-1.2deg);
            transform: translateX(-6px) rotate(-1.2deg);
  }
}
.wobble-hor-bottom {
	-webkit-animation: wobble-hor-bottom 5s infinite both ;
  animation: wobble-hor-bottom 5s infinite both;
}
@keyframes wobble-hor-bottom {
  0%,
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
  }
  7% {
    -webkit-transform: translateX(-30px) rotate(-6deg);
            transform: translateX(-30px) rotate(-6deg);
  }
  14% {
    -webkit-transform: translateX(15px) rotate(6deg);
            transform: translateX(15px) rotate(6deg);
  }
  21% {
    -webkit-transform: translateX(-15px) rotate(-3.6deg);
            transform: translateX(-15px) rotate(-3.6deg);
  }
  28% {
    -webkit-transform: translateX(9px) rotate(2.4deg);
            transform: translateX(9px) rotate(2.4deg);
  }
  35% {
    -webkit-transform: translateX(-6px) rotate(-1.2deg);
            transform: translateX(-6px) rotate(-1.2deg);
  }
  42% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
  }
}
