#product-page{
    .product-toolbar{
        border-radius: 32px;
        background-color: #eee;
        width: 200px;
        padding-block: 8px;
        *{
            color: #888;
            cursor: pointer;
        } 
    }
    .product-main{
        padding: 16px;
    }
}
.product-not-avalable{
    padding: 4px 6px;
    border-right: 2px solid #EEB217;
    background-color: #FFECDB;
    font-size: 12px;
}

.product-vendor{
    border: 2px solid white ;
    border-radius: 8px;
    background-color: #EEE;
    padding: 16px 16px;
    color: #555;
    
    .sales-count{
        color: #545454;
        background-color: #C4C4C4;
        padding: 4px 12px;
        border-radius: 30px;
        font-size: 13px;
    }

    .facility{
        font-size: 11px;
        margin-top: 16px;
    }
}

.product-specs{
    font-size: 13px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;

    .product-attribute{
        padding-top: 16px;
    }

    .product-about  *{
        padding-top: 8px;
    }

}

.product-swiper{
    height: 325px;
    margin-top: -24px;
}
.product-swiper2{
    height: 125px;
    
}

[class*=product-swiper] {
    img{

        border-radius: 12px;
        border: 2px solid #eee;
    }

    .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
.similar-products-price{
    font-size: 13px;
}