#products-main{

    .products-filterbox{
        background-color: #fffe;
        border-radius: 12px;
        padding: 16px;
        margin-bottom: 16px;
    }
    .products-filters{
        p, span, input, input::placeholder{
            font-size: 0.8rem;
        }

        .price-limit > :first-of-type{
            border-left: 1px dashed #ddd;
        }
        .MuiSlider-rail, .MuiSlider-track, .MuiSlider-thumbColorPrimary{
            color: #E96962;
        }
        
    }
    .products-sortby{
        display:flex;
        align-items: center;
        >div{
            margin-inline: 16px;
            *{
                border: none;
            }
        }
        .Mui-selected{
            background: #E9696211;
            color: #E96962
        }
    }
    .vendor-cover{
        border: 1px solid #ddd;
        & + .products-sortby{
            margin-top: 16px;
        }
        .vendor-name{
            position: absolute;
            inset: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            h5{
              font-size: clamp(16px, 3vw + 1%, 40px);
              padding: 8px 24px;
              background-color: #fff6;
              border: 1px solid #aaa;
              border-radius: 12px;
              text-align: center;
              
            }
        }
        
    }
    
    @media (max-width: 578px){
        .vendor-cover{
            .vendor-name{
                right: 90px;
            }
        }
    }
}

@media (max-width: 768px){
    #products-main{
        .products-filterbox{
            padding: 8px 16px;
        }
        .MuiSelect-select{
            padding-block: 4px;
        }
        
    }
}