.box_website {
    background-color: #e1e1e1;
    *{
        text-align: left !important;
        direction: ltr !important;
    }
    border-radius: 5px 0 0 5px;
    border-right: 0;
    fieldset{
        border-radius: 5px 0     0 5px;
        border-right: 0;
        legend{
            width: 0;
        }
    }
    
} 

#setting-profile{
    // *{font-size: 0.9rem !important;}
    form{
        >div{
            padding-block: 16px;
        }
    } 
    .MuiFormHelperText-root{
        font-size: 11px;
    }
}
.infoScan {
    background-color: #def1fb;
    text-align: center;
    padding: 1rem;
    border-radius: 5px;
    font-size: 13px;
    line-height: 2;
    border-right: 15px solid #6e96ad;
  }
  .uploadDoc {
    border: 2px dashed var(--color-foot);
    border-radius: 10px;
    button {
      font-weight: 500;
      font-size: 14px;
    }
  }